label {
  margin-bottom: 0;
}
.fenduan {
  display: block;
  height: 5px;
  clear: both;
}
.none {
  display: none;
}
.jiange01 {
  padding: 0 10px;
  contain: "'";
}
.pd0 {
  padding: 0;
}
.pdt0 {
  padding-top: 0;
}
.pdb5 {
  padding-bottom: 5px;
}
.pdb10 {
  padding-bottom: 10px;
}
.pdlleft10 {
  padding-left: 10px;
}
.pd005 {
  padding: 0 5px;
}
.pd0010 {
  padding: 0 10px;
}
.bg_262 {
  background: #262b36 !important;
  background-color: #262b36 !important;
}
.w100 {
  width: 100%;
}
.hide_leftbar1 {
  margin-left: -220px;
}
.hide_leftbar2 {
  margin-left: 0px;
}
.logo .panel-heading {
  text-align: center;
}
.logo img {
  max-width: 100%;
  width: 100px;
}
.headerpanel .logopanel {
  padding: 10px;
}
.headerpanel .logopanel .logo_box {
  display: block;
  height: 45px;
}
.headerpanel .logopanel .logo_box img {
  max-height: 100%;
}
.bar_title {
  display: flex;
  align-items: center;
  height: 64px;
  color: #ccc;
  width: 100px;
  float: left;
  position: absolute;
}
.table_vc th,
.table_vc td {
  vertical-align: middle !important;
  padding: 10px 2px !important;
  text-align: center;
}
.table01 {
  width: 100%;
}
.table01 th,
.table01 td {
  text-align: center;
  border: 1px solid #000;
  padding: 2px 2px !important;
}
.table01 th {
  background: #dbdbdb;
}
.table01 td {
  background: #fff;
}
.nc_scale {
  background: #e8e8e8 !important;
  /* 默认背景色 */
}
.nc_scale div.nc_bg {
  background: #7ac23c !important;
  /* 滑过时的背景色 */
}
.nc_scale .scale_text2 {
  color: #fff !important;
  /* 滑过时的字体颜色 */
}
.nc_scale span {
  border: 1px solid #ccc !important;
}
.errloading {
  border: #faf1d5 1px solid !important;
  color: #ef9f06 !important;
}
.modal-body {
  overflow-y: scroll;
  background: #e7e9ee;
  min-height: 300px;
}
