<div class="leftpanelinner">

    <!-- ################## LEFT PANEL PROFILE ################## -->

    <div class="media leftpanel-profile">
        <div class="media-left">
            <a href="#">
                <img src="../images/logo3.png" alt="" class="media-object img-circle">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                <span>隔壁老王</span>
                <a data-toggle="collapse" data-target="#loguserinfo" class="pull-right"><i
                        class="fa fa-angle-down"></i></a></h4>
            <span>FREE 用户</span>
        </div>
    </div><!-- leftpanel-profile -->

    <div class="leftpanel-userinfo collapse" id="loguserinfo">
        <h5 class="sidebar-title">权限描述</h5>
        <address>
            免费用户
        </address>
    </div><!-- leftpanel-userinfo -->

    <ul class="nav nav-tabs nav-justified nav-sidebar">
        <li class="tooltips active" data-toggle="tooltip" title="Main Menu">
            <a data-toggle="tab" data-target="#mainmenu">
                <i class="tooltips fa fa-dashboard"></i>
            </a>
        </li>
        <li class="tooltips" data-toggle="tooltip" title="Contacts">
            <a data-toggle="tab" data-target="#contactmenu">
                <i class="fa fa-user"></i>
            </a>
        </li>
    </ul>

    <div class="tab-content">

        <!-- ################# MAIN MENU ################### -->

        <div class="tab-pane active" id="mainmenu">
            <h5 class="sidebar-title">控制面板</h5>
            <ul class="nav nav-pills nav-stacked nav-quirk nav_quirk_li">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                        <span>监控中心</span>
                    </a>
                </li>
                <li>
                    <a href="Work_order_center.html">
                        <span class="badge pull-right">10+</span>
                        <i class="fa fa-cube"></i>
                        <span>工单中心</span>
                    </a>
                </li>
            </ul>

            <h5 class="sidebar-title">功能菜单</h5>
            <ul class="nav nav-pills nav-stacked nav-quirk  nav_quirk_li">
                <!-- 如果激活-加上active -->
                <li class="nav-parent ">
                    <a href="#">
                        <i class="fa fa-user"></i>
                        <span>账号管理</span>
                    </a>
                    <ul class="children ">
                        <li><a href="My_info_edit.html">我的资料</a></li>
                        <li><a href="My_Change_Password.html">修改密码</a></li>


                    </ul>
                </li>
                <li class="nav-parent ">
                    <a href="#">
                        <i class="fa fa-user"></i>
                        <span>机器人管理</span>
                    </a>
                    <ul class="children ">
                        <li><a href="My_APIkey.html">APIkey管理</a></li>
                        <li><a href="My_robot_group.html">Robot分组管理</a></li>
                        <li><a href="My_robot_li.html">Robot策略管理</a></li>
                        <li><a href="My_robot_log.html">日志管理</a></li>
                        <li><a href="My_robot_runlog.html">运行日志</a></li>
                    </ul>
                </li>
                <li class="nav-parent ">
                    <a href="#">
                        <i class="fa fa-user"></i>
                        <span>财务明细</span>
                    </a>
                    <ul class="children ">
                        <li><a href="xx.html">GAS中心</a></li>
                        <li><a href="xx.html">GAS流水</a></li>
                        <li><a href="xx.html">xxxx</a></li>
                    </ul>
                </li>
                <li class="nav-parent">
                    <a href="#">
                        <i class="fa fa-user"></i>
                        <span>管理员管理</span>
                    </a>
                    <ul class="children">
                        <li><a href="admin_li.html">管理员列表</a></li>
                        <li><a href="xxx.html">权限管理</a></li>
                    </ul>
                </li>
            </ul>

        </div><!-- tab-pane -->

        <!-- ######################## EMAIL MENU ##################### -->

        <!-- 管理员列表 -->
        <div class="tab-pane" id="emailmenu">
            <div class="sidebar-btn-wrapper">
                <a href="compose.html" class="btn btn-danger btn-block">Compose</a>
            </div>

            <h5 class="sidebar-title">Mailboxes</h5>
            <ul class="nav nav-pills nav-stacked nav-quirk nav-mail">
                <li><a href="email.html"><i class="fa fa-inbox"></i> <span>Inbox (3)</span></a></li>
                <li><a href="email.html"><i class="fa fa-pencil"></i> <span>Draft (2)</span></a></li>
                <li><a href="email.html"><i class="fa fa-paper-plane"></i> <span>Sent</span></a></li>
            </ul>

            <h5 class="sidebar-title">Tags</h5>
            <ul class="nav nav-pills nav-stacked nav-quirk nav-label">
                <li><a href="#"><i class="fa fa-tags primary"></i> <span>Communication</span></a></li>
                <li><a href="#"><i class="fa fa-tags success"></i> <span>Updates</span></a></li>
                <li><a href="#"><i class="fa fa-tags warning"></i> <span>Promotions</span></a></li>
                <li><a href="#"><i class="fa fa-tags danger"></i> <span>Social</span></a></li>
            </ul>
        </div><!-- tab-pane -->

        <!-- ################### CONTACT LIST ################### -->

        <div class="tab-pane" id="contactmenu">
            <!-- <div class="input-group input-search-contact">
                      <input type="text" class="form-control" placeholder="Search contact">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                      </span>
                    </div> -->
            <h5 class="sidebar-title">客服中心[点击发送工单]</h5>
            <ul class="media-list media-list-contacts">
                <li class="media">
                    <a href="#">
                        <div class="media-left">
                            <img class="media-object img-circle" src="../images/photos/user1.png" alt="">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">小剑见</h4>
                            <span><i class="fa fa-phone"></i> 86-138989828</span>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a href="#">
                        <div class="media-left">
                            <img class="media-object img-circle" src="../images/photos/user2.png" alt="">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">大老黑</h4>
                            <span><i class="fa fa-mobile"></i> 86-138989828</span>
                        </div>
                    </a>
                </li>

            </ul>
        </div><!-- tab-pane -->




    </div><!-- tab-content -->
</div><!-- leftpanelinner -->


<script>
    $(function () {
        // 展开收起详细运行时段
        $("#showruninfobox").click(function () {
            $(".runinfo_box").toggleClass("none");
            var text = $(this).text();
            if (text) {
                $(this).text(text === '收起时段' ? '展开时段' : '收起时段');
            }
            return false;
        });


        // 菜单栏开关
        $(".nav-parent>a").click(function () {
            $(this).parent().toggleClass("active");
            return false;
        });

        // 左侧导航栏开关
        $("#menuToggle").click(function () {
            $(".logopanel").toggleClass("hide_leftbar1");
            $(".headerbar").toggleClass("hide_leftbar2");
            $(".leftpanel").toggleClass("hide_leftbar1");
            $(".mainpanel").toggleClass("hide_leftbar2");
            return false;
        });



        $("#noticeDropdown").click(function () {
            $("#noticePanel").toggleClass("open");
            // return false;
        });
        $("#noticePanel").click(function () {
            $(this).toggleClass("open");
            return false;
        });
        $("#worder_info").click(function () {
            $(this).parent().addClass("active");
            $("#worder_info_box").addClass("active");

            $("#work_order").parent().removeClass("active");
            $("#work_order_box").removeClass("active");
        });
        $("#work_order").click(function () {
            $(this).parent().addClass("active");
            $("#work_order_box").addClass("active");

            $("#worder_info").parent().removeClass("active");
            $("#worder_info_box").removeClass("active");
        });

        // 获取浏览器高度
        $(document).height();

        var winHeight = 0;
        if ($(document).height() > winHeight) {
            winHeight = ($(document).height()*0.7);
        }
        $('.modal-body').css("max-height", winHeight)



    });


    // lee老哥，我这代码写的不容易，不要kill掉我的效果啊。
    var urlstr = location.href;
    //alert((urlstr + '/').indexOf($(this).attr('href')));
    var urlstatus = false;
    $(".nav_quirk_li>li a").each(function () {
        if ((urlstr + '/').indexOf($(this).attr('href')) > -1 && $(this).attr('href') != "") {
            $(this).parent().addClass('active'); urlstatus = true;
            $(this).parent().parent().parent().addClass('active'); urlstatus = true;
        };
    });
    if (!urlstatus) { $(".nav-quirk-li a").eq(0).addClass('active'); };




</script>