<div class="headerpanel">

    <div class="logopanel">
        <h2>
            <a href="index.html" class="logo_box">
                <img src="/images/logo2.png" alt="">
                EX-Robot
            </a>
        </h2>
    </div>
    <!-- logopanel -->

    <div class="headerbar">
        <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
        <div class="bar_title">
            管理中心
        </div>
        <div class="header-right">
            <ul class="headermenu">
                <li>
                    <div id="noticePanel" class="btn-group">
                        <button class="btn btn-notice alert-notice" data-toggle="dropdown">
                            <i class="fa fa-globe"></i>
                        </button>
                        <div id="noticeDropdown" class="dropdown-menu dm-notice pull-right">
                            <div role="tabpanel">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs nav-justified" role="tablist">
                                    <li class="active">
                                        <a id="worder_info" data-toggle="tab">工单信息</a>
                                    </li>
                                    <li>
                                        <a id="work_order" data-toggle="tab">未处理工单</a>
                                    </li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="worder_info_box">
                                        <ul class="list-group notice-list">
                                            <li class="list-group-item unread">
                                                <div class="row">
                                                    <div class="col-xs-2">
                                                        <i class="fa fa-envelope"></i>
                                                        <!-- 未查看 -->
                                                    </div>
                                                    <div class="col-xs-10">
                                                        <h5><a href="">16500099@qq.com</a></h5>
                                                        <small>2019/01/01</small>
                                                        <span>管理员同志，请问怎么使用？</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item unread">
                                                <div class="row">
                                                    <div class="col-xs-2">
                                                        <i class="fa fa-exclamation-triangle"></i>
                                                        <!-- 已回复 -->
                                                    </div>
                                                    <div class="col-xs-10">
                                                        <h5><a href="">16500099@qq.com</a></h5>
                                                        <small>2019/01/01</small>
                                                        <span>管理员同志，请问怎么使用？</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-xs-2">
                                                        <i class="fa fa-check"></i>
                                                        <!-- 已结束 -->
                                                    </div>
                                                    <div class="col-xs-10">
                                                        <h5><a href="">16500099@qq.com</a></h5>
                                                        <small>2019/01/01</small>
                                                        <span>管理员同志，请问怎么使用？</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-xs-2">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                    <div class="col-xs-10">
                                                        <h5><a href="">16500099@qq.com</a></h5>
                                                        <small>2019/01/01</small>
                                                        <span>管理员同志，请问怎么使用？</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-xs-2">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                    <div class="col-xs-10">
                                                        <h5><a href="">16500099@qq.com</a></h5>
                                                        <small>2019/01/01</small>
                                                        <span>管理员同志，请问怎么使用？</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <a class="btn-more" href="">查看全部工单<i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                    <!-- tab-pane -->

                                    <div role="tabpanel" class="tab-pane" id="work_order_box">
                                        <!-- <h1 id="todayDay" class="today-day">...</h1>
                            <h3 id="todayDate" class="today-date">...</h3> -->

                                        <!-- <h5 class="today-weather"><i class="wi wi-hail"></i> Cloudy 77 Degree</h5>
                            <p>Thunderstorm in the area this afternoon through this evening</p> -->

                                        <!-- <h4 class="panel-title">Upcoming Events</h4> -->
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-xs-2">
                                                        <h4>20</h4>
                                                        <p>9月</p>
                                                    </div>
                                                    <div class="col-xs-10">
                                                        <h5><a href="">mamale@qq.com</a></h5>
                                                        <small>账号无法充值HELP</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-xs-2">
                                                        <h4>20</h4>
                                                        <p>9月</p>
                                                    </div>
                                                    <div class="col-xs-10">
                                                        <h5><a href="">mamale@qq.com</a></h5>
                                                        <small>账号无法充值HELP</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-xs-2">
                                                        <h4>20</h4>
                                                        <p>9月</p>
                                                    </div>
                                                    <div class="col-xs-10">
                                                        <h5><a href="">mamale@qq.com</a></h5>
                                                        <small>账号无法充值HELP</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-xs-2">
                                                        <h4>20</h4>
                                                        <p>9月</p>
                                                    </div>
                                                    <div class="col-xs-10">
                                                        <h5><a href="">mamale@qq.com</a></h5>
                                                        <small>账号无法充值HELP</small>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <a class="btn-more" href="">查看全部工单<i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="btn-group">
                        <button type="button" class="btn btn-logged" data-toggle="dropdown">
                            <img src="../images/logo3.png" alt="" />
                            7788ken@gmail.com
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="profile.html">
                                    <i class="glyphicon glyphicon-user"></i> 个人信息
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-cog"></i> 账号设置
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-question-sign"></i> 帮助中心
                                </a>
                            </li>
                            <li>
                                <a href="signin.html">
                                    <i class="glyphicon glyphicon-log-out"></i> 登出账号
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- <li>
                  <button id="chatview" class="btn btn-chat alert-notice">
                    <span class="badge-alert"></span>
                    <i class="fa fa-comments-o"></i>
                  </button>
                </li> -->
                <!-- 即时通讯 -->
            </ul>
        </div>
        <!-- header-right -->
    </div>
    <!-- headerbar -->
</div>
<!-- header-->